#root {
  margin: 0 24px;
  margin-top: 40px;
  position: relative;
  min-height: 100vh;
}

body {
  background: linear-gradient(-45deg,  #ffc8b7 0%, #ffbbd5 35%, #ace9ff 70%, #b5ffee 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}