.TodoItem {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
                0 0px 0px inset rgba(255, 255, 255, 0);
    transition: .5s ease-in-out ;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.42);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.TodoItem:hover {
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.8),
                0 0px 10px inset rgba(255, 255, 255, .8);
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
}

.Icon-check {
    position: absolute;
    left: 12px;
}

.Icon-check--active {
    color: #4caf50;
}

.Icon-delete {
    position: absolute;
    top: -24px;
    right: 0;
}

.Icon-delete:hover {
    color: red;
}